extends ../../../templates/ITmaster

block content
    div.ui.centerer
        div.ui.centerer.height3
            div.ui.segment.ping.p-adjust
                div.ui.ribbon.label.inverted.huge.teal.adjustleft
                    label.ui Educational Attainment
                div.height7
                div.ui.container.inverted.teal
                    form#val.ui.form.mleft(method="POST" action=`/faculty/add/EA/${FID}`)
                        div.ui.two.fields
                            div.ui.field
                                label.ui.large.teal.tag Elementary School Name
                                input(type="text" name="educ" placeholder="Example Elementary School")
                            input(type="hidden" name="educname" value="Primary Education")
                            input(type="hidden" name="educlevel" value="EL-0001")
                            input(type="hidden" name="eaid" value=ID)
                            input(type="hidden" name="units" value="0")
                            div.ui.field
                                label.ui.large.teal.tag Date Graduated
                                input(type="text" name="educdate" placeholder="Date")            
                        div.ui.two.fields
                            div.ui.field
                                label.ui.large.teal.tag High School Name
                                input(type="text" name="educ" placeholder="Example High School")
                            input(type="hidden" name="educname" value="High School")
                            input(type="hidden" name="educlevel" value="EL-0002")
                            input(type="hidden" name="units" value="0")
                            div.ui.field
                                label.ui.large.teal.tag Date Graduated
                                input(type="text" name="educdate" placeholder="Date")
                        div.ui.three.fields
                            div.ui.field
                                label.ui.large.teal.tag College/University Name
                                input(type="text" name="educ" placeholder="Example Unversity")
                            input(type="hidden" name="educlevel" value="EL-0003")
                            input(type="hidden" name="units" value="0")
                            div.ui.field
                                label.ui.large.teal.tag Date Graduated
                                input(type="text" name="educdate" placeholder="Date")
                            div.ui.field
                                label.ui.large.teal.tag Degree Name
                                input(type="text" name="educname" placeholder="EducName")
                        div#gs.height2
                            div.ui.two.fields
                                div.ui.field
                                    label.ui.larg.tag Graduate Studies 
                                    input(type="text" name="educ" placeholder="Graduate Studies")
                                div.ui.field
                                    label.ui.large.teal.tag Units
                                    input(type="number" name="units" placeholder="Units")
                            div.ui.three.fields
                                div.ui.field
                                    label.ui.large.teal.tag Educ Level
                                    select.ui.selection.search.dropdown(name="educlevel") 
                                        each level in levels
                                            option(value=level.strEducLevelID) #{level.strEducLevelName}
                                div.ui.field
                                    label.ui.large.teal.tag Date Graduated
                                    input(type="text" name="educdate" placeholder="Date")
                                div.ui.field
                                    label.ui.large.teal.tag Degree Name
                                    input(type="text" name="educname" placeholder="Educ Name")
                        div#butt.warp2.height
                            button.ui.labeled.orange.icon.button.rightp(type="submit")
                                i.add.icon
                                p Submit
                        script.
                            $(document).ready(function(){
                            //$('form').form('validate');

                            $('#add').click(function(){
                            //alert("sdfg");
                            //$('form').form('validate .form');
                            console.log($('form'));
                            var $inputs = $('.form');
                            
                            console.log($inputs[0].elements);
                            console.log($inputs.serializeArray());
                            
                            var form_fields = {};
                            $all_form_fields = $inputs.serializeArray();
                            
                           /* for(var cnt in $all_form_fields)
                            {
                                var single_field = {};
                                single_field.identifier = $all_form_fields[cnt].name ;
                                single_field.rules =  [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter a valid {name}'
                                    }
                                    ] ;
                                    
                                    form_fields[$all_form_fields[cnt].name] = single_field;
                                    
                            }*/
                            console.log(form_fields);
                            $('form').form(	{	
                                    fields : form_fields,
                                inline : true
                                });

                            
                            
                            });

                            $(document).on('click', '#add', function() {

                                var template = 
                                `<div class="ui three fields">\
                                    <div class ="field">\
                                        <label> Graduate Studies</label>\
                                        <input type="text" name="educ" placeholder="Graduate Studies">\
                                        <select class="ui selection search dropdown name="educlevel">\ 
                                            each level in levels'
                                                <option value="'${level.strEducLevelID}'"> '${level.strEducLevelName}' </option>\
                                    </div>\
                                    <div class="ui field">
                                        <label> Date Graduated </label>\
                                        <input type="text" name="educdate" placeholder="Date">\
                                    </div>\
                                    <div class="ui field">\
                                        <label> Degree Name </label>\
                                        <input type="text" name="educname">\
                                    </div>\
                                </div>\
                                </div>` ;
                                console.log(`${template}`);
                                // $('form.ui.form').append(template);
                                $(template).insertBefore('#butt');
                                count++;
                                console.log(`${count}`);
                                
                            });


                            });
                            $('#val')
                                .form({
                                    inline: 'true',
                                    fields: 
                                    {
                                    educ: {
                                        identifier: 'educ',
                                        rules: [
                                            {
                                                type   : 'empty',
                                                prompt : 'Please Enter your School, University or College'
                                            }
                                        ]

                                    },
                                    educdate: {
                                        identifier: 'educdate',
                                        rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'This Field is Required Please enter the Date'
                                        },
                                        {
                                            type   : 'minLength[3]',
                                            prompt : 'Your password must be at least {ruleValue} characters'
                                        }
                                        ]
                                    },
                                    educname: {
                                        identifier: 'educname',
                                        rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'Please enter your Attainment'
                                        }
                                        ]
                                    }
                                    
                                    }
                                })
                                ;