extends ../../../templates/ITmaster

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div
            div.ui.ribbon.label.inverted.huge.teal.adjustleft
                label.ui Personal Information
            div.height7
            div.ui.container.inverted.teal
                form#val.ui.form.mleft(method="POST" action=`/faculty${faculty ? `/${faculty.strFacultyID}/edit?_method=PUT` : '/add/P'}`)
                    div.ui.three.fields
                        div.ui.field
                            label.ui.large.teal.tag Lastname
                            input(type="text" name="lastname" placeholder="Last Name" value=faculty ? faculty.strFacultySurname : '')
                        div.ui.field
                            label.ui.large.teal.tag Firstname
                            input(type="text" name="firstname" placeholder="First Name" value=faculty ? faculty.strFacultyFirstname : '')
                        div.ui.field
                            label.ui.large.teal.tag Middlename
                            input(type="text" name="middlename" placeholder="Middle Name" value=faculty ? faculty.strFacultyMiddlename : '')
                        input(type="hidden" name="FID" value= ID)
                    div.field
                        div.ui.field    
                            label.ui.large.teal.tag Address
                            input(type="text" name="address" placeholder="Address" value=faculty ? faculty.strFacultyAddress : '')
                    div.ui.three.fields
                        div.ui.field
                            label.ui.large.teal.tag Birthday
                            input(type="date" name="birthday" placeholder="mm/dd/yy" value=faculty ? faculty.datFacultyBday : '')
                        div.ui.field
                            label.ui.large.teal.tag Gender
                            select#ge.ui.selection.search.dropdown(name="gender") 
                                option(value=Male) Male
                                option(value=Female) Female
                        div.ui.field
                            label.ui.large.teal.tag Department
                            select#de.ui.selection.search.dropdown(name="dept") 
                                each dept in depts
                                    option(value=dept.strDepartmentID) #{dept.strDepartmentName}
                    div.ui.three.fields
                        div.ui.field
                            label.ui.large.teal.tag Civil Status
                            select#cs.ui.selection.search.dropdown(name="civilstatus") 
                                each Cs in CS
                                    option(value=Cs.strCivilStatusID) #{Cs.strCivilStatusName}
                        div.ui.field
                            label.ui.large.teal.tag Citizenship
                            select#ci.ui.selection.search.dropdown(name="citizenship") 
                                each Ct in CT
                                    option(value=Ct.strCitizenshipID) #{Ct.strCitizenshipName}
                        div.ui.field
                            label.ui.large.teal.tag Employee Type
                            select#em.ui.selection.search.dropdown(name="employee") 
                                each Emp in emp
                                    option(value=Emp.strEmployeeTypeID) #{Emp.strEmployeeTypeName}
                    div.ui.three.fields
                        div.ui.field
                            label.ui.large.teal.tag Mobile
                            input(type="text" name="mobile" placeholder="+63" value=faculty ? faculty.strFacultyConNum : '')
                        div.ui.field
                            label.ui.large.teal.tag Email Address
                            input(type="text" name="emailadd" placeholder="google@example.com" value=faculty ? faculty.strFacultyEmail : '')
                        div.ui.field
                            label.ui.large.teal.tag Date Hired
                            input(type="date" name="doh" placeholder="Date" value=faculty ? faculty.datFacultyDateHired : '')
                    div.warp.height
                        button.ui.labeled.orange.icon.button.rightp.field(type="submit" value="submit")
                            i.add.icon
                            p #{faculty ? 'Update' : 'Next'}       
                    script.
                        $('#ge,#de,#cs,#ci,#em').dropdown();
                        $('#val')
                        .form({
                            inline: 'true',
                            
                            fields: 
                            {
                            lastname: {
                                identifier: 'lastname',
                                rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter a Last Name'
                                },
                                ]
                                
                            },
                            firstname: {
                                identifier: 'firstname',
                                rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your First Name'
                                }
                                ]
                            },
                            address: {
                                identifier: 'address',
                                rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your Address'
                                }
                                ]
                            },
                            birthday: {
                                identifier: 'birthday',
                                rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your Birthday'
                                }
                                ]
                            },
                            mobile: {
                                identifier: 'mobile',
                                rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your Mobile Number'
                                }
                                ]
                            },
                            emailadd: {
                                identifier: 'emailadd',
                                rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your Email Address'
                                }
                                ]
                            },
                            }
                        });