extends ../../../templates/CSmaster.pug

block content
    div.ui.centerer
        div.ui.segment.ping.positioning.p-adjust
            div.ui.container
            div.ui.ribbon.label.inverted.teal
                label.ui.textcolor Department of Computer Science Faculty 
            a.button.huge.green.right.floated.ui.basic.button(href=`/faculty/add/P`)
                i.add.user.icon.large
                | &nbsp; Add Faculty
            table.ui.compact.celled.teal.table 
                th
                    tr
                        th.one.wide.tp.t-align ID
                        th.t-align.four.wide Last Name
                        th.t-align.four.wide First Name
                        th.t-align.four.wide Middle Name
                        th.t-align.tp.four.wide Actions
                    
                    tr
                each Fprofile in Fprofiles            
                    th
                        tr
                            th.tp.t-align: a(href=`/faculty/CS/${Fprofile.strFacultyID}`)= Fprofile.strFacultyID
                            th.t-align= Fprofile.strFacultySurname
                            th.t-align= Fprofile.strFacultyFirstname
                            th.t-align= Fprofile.strFacultyMiddlename
                            th.t-align.four.wide
                                a(href=`/faculty/CS/${Fprofile.strFacultyID}/edit`)
                                    i.ui.green.address.edit.icon.large
                                | &nbsp;
                                a(href=`/faculty/CS/${Fprofile.strFacultyID}/remove`)
                                    i.ui.green.address.remove.user.icon.large
                

            
