extends ../../../templates/ITmaster

block content
    div.ui.s.adjusted.ping
        div.ui.container
            div.ui.top.attached.tabular.menu.height2
                a.active.item(data-tab="First") Personal Information
                a.item(data-tab="Second") Educational Attainment
                a.item(data-tab="Third") Faculty Rank
                a.item(data-tab="Fourth") Functions Attended
            div.ui.active.bottom.attached.tab.segment(data-tab="First") 
                div.ui.ribbon.label.inverted.black.large
                    h3 Personal Information
                div.ui.segment.height.b-adjusted
                    each prof in profs
                        img.ui.image(src=`${prof.strFacultyImageUrl}`, alt="/images/wireframe/image.png"  height="200px" width="200px")
                        div.ui.container.height
                            table.ui.padded.teal.table
                                tbody
                                    tr
                                        td.three.wide Name
                                        td= prof.strFacultyName
                                    tr 
                                        td Date of Birth
                                        td= prof.dtmFacultyBday
                                    tr 
                                        td Gender
                                        td= prof.enumFacultyGender
                                    tr
                                        td Civil Status
                                        td= prof.strCivilStatusName
                                    tr
                                        td Citizenship
                                        td= prof.strCitizenshipName
                                    tr 
                                        td Address
                                        td= prof.strFacultyAddress
                                    tr 
                                        td Contact No.
                                        td= prof.strFacultyConNum
                                    tr 
                                        td Email Address
                                        td= prof.strFacultyEmail 
            div.ui.bottom.attached.tab.segment(data-tab="Second")
                div.ui.ribbon.label.inverted.black.large
                    h3 Educational Attainment
                div.ui.segment.height.b-adjusted
                    img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png" height="200px" width="200px")
                    div.ui.container.height
                        div.ui.container
                            each educ in educs
                                label.ui.ribbon.inverted.yellow.large.label #{educ.strEducLevelName}
                                table.ui.padded.orange.table
                                    tbody
                                        tr
                                            td.six.wide 
                                                b School 
                                            td= educ.strEducAttainSchoolName
                                        tr 
                                            td  
                                                b Education Attained
                                            td= educ.strEducAttainName
                                        tr 
                                            td  
                                                b Grad Year
                                            td= educ.strGradYear
            div.ui.bottom.attached.tab.segment(data-tab="Third")
                div.ui.ribbon.label.inverted.black.large
                    h3 Ranks Achieved
                div.ui.segment.height.b-adjusted                
                    img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png" height="200px" width="200px")
            div.ui.bottom.attached.tab.segment(data-tab="Fourth")
                div.ui.ribbon.label.inverted.black.large
                    h3 Functions Attended
                div.ui.segment.height.b-adjusted                
                    img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png" height="200px" width="200px")
                    div.ui.container.height
                        div.ui.container
                        table.ui.padded.yellow.table
                            tbody
                                tr 
                                    td.five.wide
                                        label.ui.large.tag.yellow.label Function Level
                                    td.four.wide Function Name
                                    td.four.wide Date
                            each func in funcs       
                                tr
                                    td= func.strFunctLevelName
                                    td= func.strFuncRefName
                                    td= func.dtmFunctionDate
            script.
                $('.menu .item')
                    .tab()
                ;