extends ../../../templates/ITmaster

block content
    div.ui.s.adjusted.ping
        div.ui.container
            div.ui.top.attached.tabular.menu.height2
                a.active.item(data-tab="First") Personal Information
                a.item(data-tab="Second") Educational Attainment
                a.item(data-tab="Third") Faculty Rank
                a.item(data-tab="Fourth") Work Experience
            div.ui.active.bottom.attached.tab.segment(data-tab="First") 
                div.ui.ribbon.label.inverted.black.large
                    h3 Personal Information
                div.ui.segment.height.b-adjusted
                    each prof in profs
                        img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png"  height="200px" width="200px")
                        div.ui.container.height
                            table.ui.padded.teal.table
                                tbody
                                    tr
                                        td.three.wide Name
                                        td= prof.strFacultyName
                                    tr 
                                        td Date of Birth
                                        td= prof.datFacultyBday
                                    tr 
                                        td Gender
                                        td= prof.enumFacultyGender
                                    tr
                                        td Civil Status
                                        td= prof.strCivilStatusName
                                    tr
                                        td Citizenship
                                        td= prof.strCitizenshipName
                                    tr 
                                        td Address
                                        td= prof.strFacultyAddress
                                    tr 
                                        td Contact No.
                                        td= prof.strFacultyConNum
                                    tr 
                                        td Email Address
                                        td= prof.strFacultyEmail 
            div.ui.bottom.attached.tab.segment(data-tab="Second")
                div.ui.ribbon.label.inverted.black.large
                    h3 Educational Attainment
                div.ui.segment.height.b-adjusted
                    img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png" height="200px" width="200px")
                    div#butt.warp2.height
                        a.button.ui.labeled.orange.icon.button.rightp(href=`/faculty/${profs[0].strFacultyID}/educ`)
                            i.add.icon
                            p Add Educational Attainment
                    div.ui.container.height
                        div.ui.container
                            each educ in educs
                                label.ui.ribbon.inverted.yellow.large.label #{educ.strEducLevelName}
                                a(href=`/faculty/${profs[0].strFacultyID}/${educ.strEducAttainID}`)
                                    i.ui.green.address.edit.icon.large
                                table.ui.padded.orange.table
                                    tbody
                                        tr
                                            td.six.wide 
                                                b School 
                                            td= educ.strEducAttainSchoolName
                                        tr 
                                            td  
                                                b Education Attained
                                            td= educ.strEducAttainName
                                        tr 
                                            td  
                                                b Grad Year
                                            td= educ.strGradYear
                                        if educ.intunits != 0
                                            tr
                                                td
                                                    b Units
                                                td= educ.intunits                     
            div.ui.bottom.attached.tab.segment(data-tab="Third")
                div.ui.ribbon.label.inverted.black.large
                    h3 Ranks Achieved
                div.ui.segment.height.b-adjusted                
                    img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png" height="200px" width="200px")
                    div#butt.warp2.height
                        a.button.ui.labeled.orange.icon.button.rightp(href=`/faculty/${profs[0].strFacultyID}/rank`)
                            i.add.icon
                            p Add Rank
                    div.ui.container.height3
                        div.ui.container
                            table.ui.padded.centered.yellow.table
                                tr
                                    th.t-align
                                        b Ranks Achieved
                                    th.t-align
                                        b Date of Effectivity
                                
                                tbody
                                    each rank in ranks
                                        tr.t-align
                                            td=rank.strFacultyRankName
                                            td=rank.datDateofEffectivity
            div.ui.bottom.attached.tab.segment(data-tab="Fourth")
                div.ui.ribbon.label.inverted.black.large
                    h3 Work Experience
                div.ui.segment.height.b-adjusted
                    img.ui.image(src=`${profs[0].strFacultyImageUrl}`, alt="/images/wireframe/image.png" height="200px" width="200px")
                    div#butt.warp2.height
                        a.button.ui.labeled.orange.icon.button.rightp(href=`/faculty/${profs[0].strFacultyID}/WorkExp`)
                            i.add.icon
                            p Add Work Experience
                    div.ui.container.height3
                        div.ui.container
                            table.ui.padded.centered.yellow.table
                                tr
                                    th.t-align
                                        b Work Experience Name
                                    th.t-align
                                        b Working years
                                
                                tbody
                                    each work in works
                                        tr.t-align
                                            td=work.strWorkExpName
                                            td=work.strYear
            script.
                $('.menu .item')
                    .tab()
                ;