extends ../../../templates/Reports/Reportmaster

block content
    .ui.centerer
            .ui.segment.ping.p-adjust
                .ui.ribbon.label.inverted.huge.violet
                    label.ui Reports
                .adjustright
                    .ui.huge.right.ribbon.label.violet.adjustright          
                        label.ui Faculty List
                .ui.simple.dropdown.item Reports
                    i.dropdown.icon
                    .ui.menu
                        .header Choose Report
                        each period in periods
                            a.ui.item(href=`/reports/${period.strPeriodicalID}`) #{period.strPeriodicalName}
                .height4
                    table.ui.compact.celled.large.violet.table 
                        th
                            tr
                                th.two.wide.tp Faculty Name
                                each report in reports
                                    th.five.wide= report.strReportTypeName
                                    th.three.wide Attachments
                        th  
                            each assign in assigns                          
                                tr
                                    td.tp.t-align= assign.strFacultyName
                                    td
                                        .ui.read-only.checkbox
                                            if assign.datDateSubmitted != null    
                                                input(type="checkbox" checked tabindex="0" class="hidden")
                                                label="Date Submitted:" + assign.datDateSubmitted
                                            else
                                                input(type="checkbox" tabindex="0" class="hidden")
                                                label
                                    td.t-align