extends ../../../templates/Reports/Reportmaster

block content
    div.ui.centerer
            div.ui.segment.ping.p-adjust
                div.ui.ribbon.label.inverted.huge.violet
                    label.ui Functions  
                div.adjustright
                    div.ui.huge.right.ribbon.label.violet.adjustright          
                            label.ui Faculty List
                div#select.ui.simple.dropdown.item Faculty
                    i.dropdown.icon
                    div.ui.menu
                        div.header Choose Faculty
                        each prof in profs
                            a.ui.item(href=`/functions/${prof.strFacultyID}`) #{prof.strFacultySurname + ',' + prof.strFacultyFirstname}
                .height4
                    div.center.aligned.container
                        div.ui.label.inverted.large.violet
                            label.ui #{name}
                    table.ui.compact.celled.large.violet.table 
                        th
                            tr
                                th.five.wide Functions Name
                                th.two.wide.tp Functions type
                                th.two.wide Functions Level
                                th.two.wide Functions Sponsor
                                th.two.wide Functions Date
                        th
                            each func in funcs                        
                                tr
                                    td.tp.t-align= func.strFunctionsName
                                    td= func.strFuncRefName 
                                    td=func.strFunctLevelName
                                    td=func.strFunctionsSponsor
                                    td.t-align=func.datFunctionDate
                                        script.
                                            $('#select','').dropdown();
                                            $('#multi-select')
                                                .dropdown()
                                            ;
                                            $('#multi-selects')
                                                .dropdown()
                                            ;
                                            $('.menu .item')
                                                .tab()
                                            ;