extends ../../../templates/Reports/Reportmaster

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.ribbon.label.inverted.huge.green.adjustleft
                label.ui Functions
            div.ui.huge.adjustleft.green.label
                label.ui Faculty                                
            div.ui.two.fields.height7.pright
                form.ui.form(method="POST" action=`/functions/func/Assign`)
                    div.ui.two.fields
                        div.ui.field
                            label.ui Select Faculty
                            select#multi-select.search.multiple.selection.dropdown(name="faculty[]")
                                each prof in profs
                                    option(value=prof.strFacultyID) #{prof.strFacultySurname +' '+prof.strFacultyFirstname}
                    div.ui.three.fields
                        div.ui.field
                            label Function Type
                            select#select.ui.search.selection.dropdown(name="type")
                                each ref in refs
                                    option(value=ref.strFuncRefID) #{ref.strFuncRefName}
                        div.ui.field
                            label Function Type
                            select#select.ui.search.selection.dropdown(name="level")
                                each level in levels
                                    option(value=level.strFunctLevelID) #{level.strFunctLevelName}
                        div.ui.field
                            label Functio Date
                            input(type="Date" name="date" placeholder="Date")
                            input(type="hidden" name="ftid" value=ID)
                        div.height2
                            button#add.ui.labeled.orange.icon.button.rightp()
                                i.add.icon
                                p Assign
        
    script.
        $('#select','').dropdown();
        $('#multi-select')
            .dropdown()
        ;
        $('.menu .item')
            .tab()
        ;