extends ../../../../templates/Maintemaster

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.container
            div.ui.ribbon.label.huge.inverted.blue 
                p #{Periodical ? 'Edit' : 'Add'} Period
            .ui.container.inverted.teal.height3
                form.ui.form.mleft(method="POST" action=`/maintenance/Periodical${Periodical ? `/${Periodical.strPeriodicalID}?_method=PUT`: '/new'}`)
                    div.ui.field
                        label.ui.large.teal.tag Period Name
                        input(type="text" name="pname" value= Periodical ? Periodical.strPeriodicalName : '')
                    if(!Periodical)
                        div.ui.field
                            input(type="hidden" name="pid" value=ID)
                    div#butt.warp2.height2
                        button#add.ui.labeled.orange.icon.button.rightp(type="submit")
                            i.add.icon
                            p #{Periodical ? 'Update' : 'Add'}