extends ../../../../templates/Maintemaster

block content
    - var hasText = typeof password !== 'undefined' ? 'Password Confirmation Do Not Match' : ''
    div.ui.centerer
        if hasText 
            .ping.ui.warning.message 
                i.close.icon
                div.header #{hasText}
                    p Please Try Again
        div.ui.segment.ping.p-adjust
            div.ui.container
            div.ui.ribbon.label.huge.inverted.blue 
                p #{admin ? 'Edit' : 'Add'} Admin
                    i.add.icon
            div.ui.container.inverted.teal.height3
                form#form.ui.form.mleft(method="POST" action=`/maintenance/Admin${admin ? `/${admin.strUsername}?_method=PUT` : '/new'}`)
                    div.ui.field
                        label.ui.large.teal.tag Faculty 
                        select#dr.ui.selection.search.dropdown(name="faculty") 
                            each Faculty in faculties
                                option(value=Faculty.strFacultyID) #{Faculty.strFacultyFirstname +' '+ Faculty.strFacultySurname}
                    div.ui.field
                        label.ui Username
                        input(type="text" name="adminusername" value= admin ? admin.strUsername : '')
                    div.ui.field
                        label.ui Password
                        input(type="password" name="adminpassword" value= admin ? admin.strPassword : '')
                    div.ui.field
                        label.ui Confirm Password
                        input(type="password" name="adminconfirmpassword")
                    if(adminpassword===adminconfirmpassword)    
                        div#butt.warp2.height2
                            button#add.ui.labeled.orange.icon.button.rightp()
                                i.add.icon
                                p #{admin ? 'Update' : 'Add'}
                            a.button.ui.labeled.orange.icon.button.rightp(href="/maintenance/admin")
                                i.add.icon
                                p Back

                            script.
                                $('#dr').dropdown();
                                $('#form')
                                .form({
                                    inline: 'true',
                                    
                                    fields: 
                                    {
                                    adminpassword: {
                                        identifier: 'adminpassword',
                                        rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'Please enter a password, Field is Required'
                                        }
                                        ]
                                        
                                    },
                                    adminusername: {
                                        identifier: 'adminusername',
                                        rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'Please enter a username, Field is Required'
                                        },
                                        ]
                                        
                                    },
                                    adminconfirmpassword: {
                                        identifier: 'adminconfirmpassword',
                                        rules: [
                                        {
                                            type   : 'empty',
                                            prompt : 'Please enter your password, Field is Required'
                                        },
                                        {
                                            type   : 'match[adminusername]',
                                            prompt : 'Passwords Do not Match'
                                        },
                                        {
                                            type   : 'is[<>]',
                                            prompt : 'Field Cannot Contain Script or HTML tags'
                                        }
                                        ]
                                        
                                    }
                                    }
                                    });                                    
                    